
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

.bg1 {
    background-color: #1F2937;
}

.bg3 {
    background-color: #E5E7EB;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
}

.header-logo, .header-links {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #E5E7EB;
    padding-left: 250px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 250px;
}

.section-1 {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;

}

.section-1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    gap: 15px;
}

.section-1-title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    color: #f9faf8;
}

.section-1-content {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

#button1 {
    color: #E5E7EB;
    background-color: #3882f6;
    padding: 6px 20px;
    border-radius: 6px;
    border: #3882f6;
    
}

.section-1-image {
    display: flex;
    width: 800px;
    
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.bg2 {
    background-color: white;
}

.section-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.section-2-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    
}

.text-images{
    display: flex;
    flex-wrap: wrap;
}

.s2-image{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subtitle {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    font-size: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

img {
    border: 5px solid grey;
}